@font-face {
	font-family: showg;
	src: url('showg.ttf');
}
body {
	font-family: showg;
}

.main {
	color: #FFFFFF;
	width: 600px;
	background-image: url('http://www.siwallpaper.com/wp-content/uploads/2015/07/geometric_simple_design_wallpaper.jpg');
	background-size: cover;
	padding: 20px;
	min-height: 599px;
	text-align: center;
}

.opt-item {
	padding: 10px 15px;
	border: 2px solid #000;
	border-radius: 10px;
	margin: 21px;
	display: inline-flex;
	transform: rotateZ(-30deg);
	cursor: pointer;
	background-color: #A9A9A9;
	color: #fff;
	transition: all 0.3s ease;
}
.opt-item:hover {
	transform: scale(1.2);
	z-index: 99999;
}

.img-container {
	float: left;
}

img {
	transform: rotateZ(-11deg);
}

.clearfix {
	clear: both;
}

.continue-btn{
	position:absolute;
	right:20px;
	bottom:10px;
	border:2px solid #000;
	transition:all 0.3s ease;
	cursor:pointer;
}

.continue-btn:hover{
	border:2px solid #000;
	padding:10px;
	background:#000;
	color:#fff;
}

.correct {
	background-color: #64F3AA;
	cursor: default;
	color: #000;
}

.wrong {
	background-color: #F37651;
	cursor: default;
	color: #000;
}

.correction {
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
	background-color: #FDE436;
	color: #000;
}

.modal-container {
	position: fixed;
	width: 600px;
	height: 599px;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.87);
}

.welcome-modal {
	font-weight:bold;
	position: relative;
	padding-top:40px;
	margin: 81px auto;
	width: 400px;
	height: 300px;
	padding: 15px;
	border: 3px solid rgb(237,125,49);
	background: rgb(244,177,131);
	border-radius: 10px;
	color: #000000;
	font-family: "Agency FB";
}

.welcome-modal h1{
	display:none;
}
.welcome-modal .score-msg{
	display:none;
}

.modal-container.gameover .welcome-text{
	display:none;
}

.modal-container.gameover .continue-btn{
	display:none;
}

.modal-container.gameover h1{
	display:block;
}

.modal-container.gameover .score-msg{
	display:block;
}

@keyframes blink {
to {
	visibility: hidden;
}
}

@-webkit-keyframes
blink {to {
	visibility: hidden;
}
}